certifi==2019.3.9
chardet==3.0.4
codecov==2.0.15
coloredlogs==10.0
coverage==4.5.3
decorator==4.4.0
doctest2==0.1
docutils==0.14
executor==21.3
fasteners==0.14.1
future==0.17.1
get==2018.11.19
humanfriendly==4.18
idna==2.8
linecache2==1.0.0
monotonic==1.5
NetEase-MusicBox==0.2.5.4
nose==1.3.7
pathlib2==2.3.3
post==2018.11.20
powerline-status==2.7
poyo==0.4.2
proc==0.17
property-manager==2.3.1
public==2018.11.20
py==1.8.0
pycryptodomex==3.8.0
pytest==4.3.1
PyYAML==5.4
query-string==2018.11.20
request==2018.11.20
requests==2.21.0
requests-cache==0.4.13
six==1.12.0
traceback2==1.4.0
unittest2==1.1.0
urllib3==1.24.2
verboselogs==1.7
virtualenv==16.4.3
